aiohttp==3.8.5
aiosignal==1.3.1
async-timeout==4.0.3
attrs==23.1.0
base58==2.1.1
bitarray==2.8.1
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.2.0
cytoolz==0.12.2
eth-abi==2.2.0
eth-account==0.5.9
eth-hash==0.5.2
eth-keyfile==0.5.1
eth-keys==0.3.4
eth-rlp==0.2.1
eth-typing==2.3.0
eth-utils==1.10.0
exceptiongroup==1.1.3
frozenlist==1.4.0
h11==0.14.0
hexbytes==0.3.1
idna==3.4
importlib-resources==6.1.0
ipfshttpclient==0.8.0a2
jsonschema==4.19.1
jsonschema-specifications==2023.7.1
lru-dict==1.2.0
multiaddr==0.0.9
multidict==6.0.4
netaddr==0.9.0
outcome==1.2.0
parsimonious==0.8.1
pkgutil-resolve-name==1.3.10
protobuf==3.20.3
pycparser==2.21
pycryptodome==3.19.0
PySocks==1.7.1
pywin32==306
referencing==0.30.2
requests==2.31.0
rlp==2.0.1
rpds-py==0.10.3
selenium==4.12.0
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
toolz==0.12.0
trio==0.22.2
trio-websocket==0.11.1
undetected-chromedriver==3.5.0
urllib3==2.0.4
varint==1.0.2
web3==5.31.0
websockets==9.1
wsproto==1.2.0
yarl==1.9.2
zipp==3.17.0
